.resources {
    padding-top: 100px;
    margin-bottom: 217px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}